{% extends 'base.html' %}

    {% block content %}
            
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                        
                    <div class="row" >
                        <div class="col-5">
                            <h3>Supplier list</h3>
                        </div>
                                    <!-- Button trigger modal -->
                        <div class="col-7">
                            <h5 class="offset-9">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fa-regular fa-square-plus"></i> Add Supplier
                                </button>
                            </h5>
                        </div>
                                        
                                <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel"> <i class="fa-solid fa-plus"></i>&nbsp;Add Customer</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form action="{% url 'suppliermodule' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <label for="" class="form-label">Supplier Name</label> 
                                                                <input type="text" class="form-control" name="suppliername" required>
                                                                <label for="" class="form-label">Mobile</label> 
                                                                <input type="number" class="form-control" name="suppliermobile" required>
                                                                <label for="" class="form-label">Address</label> 
                                                                <textarea  id="" class="form-control" name="supplieraddress"  required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary" >Add</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                </div>
                                            </div>
                        </div>
                        </div>
                        <br>
                        <!-- <div class="row">
                            <div class="col-3 offset-9" style="display: flex;" >
                            <label for="" class="form-label">Search</label>&nbsp;&nbsp;
                            <input type="search">
                    
                            </div> 
                        </div> -->
                        <br>
                            <div class="card-body">
                                <table class="display" id="example" style="width:100%">
                                    <thead>
                                        <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Mobile No</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in supplierdata %}
                                        <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{x.suppliername}}</td>
                                        <td>{{x.mobile}}</td>
                                        <td>{{x.address}}</td>
                                        <td>
                                            {% if x.status %}
                                            Active
                                            {% else %}
                                            Inactive
                                            {% endif %}
                                        </td>
                                        <td>
                                        
                                                <!-- Button trigger modal -->
                                                <!-- editsupplier -->
                                            <a href="{% url 'editsupplier'  x.supplierid %}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal211{{forloop.counter}}">
                                           
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <!-- deletesuppler  -->
                                            

                                                                         
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ x.supplierid }}"><i class="fa-solid fa-trash"></i></button>
                                </td>
                                
              <!-- delete modal start here -->
                  <div class="modal fade" id="deleteModal{{ x.supplierid }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ x.supplierid }}" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel{{ x.supplierid }}"><b>Confirmation</b></h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  Are you sure you want to delete the supplier name:'<b>{{ x.suppliername }}</b>'?
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                  <!-- Here, you can pass the customer ID or any other relevant information to your backend for deletion -->
                                  <form action="{% url 'deletesupplier' x.supplierid %}" method="post">
                                      {% csrf_token %}
                                      <!-- <input type="hidden" name="id" value="{{ x.supplierid }}"> -->
                                      <button type="submit" class="btn btn-danger" name="deletesupplier">Delete</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- delete modal end here -->
                                    
                                    </td>
                                
                                    </tr>
                                    {% endfor %}
                                
                                
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="row">
                                <div class="col-7">
                                    <label for=""> showing 1 to 3 of 3 entries</label></div>
                                
                                    <div class="col-3 offset-2">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                            </div>
                    </div> -->
                
                </div>
            </div>

          

            <!-- edit model start here -->
{% for x in supplierdata %}
<div class="modal fade" id="exampleModal211{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    <form action="{% url 'updatesupplier' x.supplierid %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
            <div class="container">
                <label for="" class="form-label">Supplier Name</label> 
                <input type="text" class="form-control" name="editsuppliername" value="{{x.suppliername}}">
                <label for="" class="form-label">Mobile</label> 
                <input type="phone" class="form-control" name="editmobile" value="{{x.mobile}}">
                <label for="" class="form-label">Address</label> 
                <textarea  id="" class="form-control" name="editaddress" >{{x.address}}</textarea>

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Update</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
        </div>
    </form>
    </div>
    </div>
</div>

{% endfor %}
<!-- edit model end here -->

    {% endblock %}
    {% block script %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
    
    <script>

      new DataTable('#example', {
            pagingType: 'simple_numbers'
        });
    </script>
   {% endblock %}
   {% block css %}
   <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css">
   {% endblock %}